* {
    margin: 5px;
    padding: 0%;
    box-sizing: border-box;
  }
  
  h1 {
    text-align: center;
    color: aquamarine;
    padding-bottom: 20px;
  }

  .remera,
  .jean,
  .buzo {
    display: inline-block;
    width: 200px;
    margin-right: 20px;
  }
  
  .remera img,
  .jean img,
  .buzo img {
    width: 100%;
    height: auto;
  }
  
  .remera p,
  .jean p,
  .buzo p {
    margin: 10px 0;
  }
  #finalizar {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 25px;
    color: lightseagreen;
  }
  